<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Games</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>


   <div class="container games_btn">
      <div class="row">

         <div class="col">
            <a class="btn btn-primary btn-lg" href="/snak" role="button">Snake</a>
         </div>
         <div class="col">
            <a class="btn btn-success btn-lg" href="/ColorBlast" role="button">Color Blast</a>
         </div>

         <div class="col">
            <a class="btn btn-secondary btn-lg" href="/conve" role="button">Conve</a>
         </div>
         <div class="col">
            <a class="btn btn-danger btn-lg" href="/nanja" role="button">Nanja</a>
         </div>

         <div class="col">
            <a class="btn btn-warning btn-lg" href="/red_rect" role="button">Red Rect</a>
         </div>
         <div class="col">
            <a class="btn btn-dark btn-lg" href="/" role="button">Back To Home</a>
         </div>

      </div>







   </div>

</body>

</html>
