<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>first-page</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/first-page.css') }}">
</head>

<body>
   <div class="imgg home"></div>
   <!-- Load an icon library -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <div class="navbar">
      <div>
         <p>Welcome! to the world of gaming. If it is your first time please press on Register part, if you already register you can enter to the game by precessing the log in key. Thank you!</p>
         <!-- <a class="active" href="/admin.html"><i class="fa fa-fw fa-home"></i> ADMIN</a> -->
         <a class="active" href="/admin-login"><i class="fa fa-fw fa-home"></i> ADMIN</a>

         <a href="/register"><i class="fa fa-fw fa-envelope"></i>REGISTRATION</a>
         <a href="/login"><i class="fa fa-fw fa-user"></i> LOGIN</a>
      </div>

   </div>
</body>

</html>
